.head{
    margin-top: 350px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
}

.box{
    background-color: rgb(46, 49, 46);
    padding:50px;
}

#down {
    margin-top: 10px;
    
}

.started{
     margin-left: 200px;
}

.subhead{
    font-family:Helvetica;
    font-weight: bold;
    color: white;
}

.about{
    background-color: black;
    padding: 50px;
}
.head1{
    color: white;
    font-weight: bold;
    font-size: xx-large;
}
.object{
    color: white;
    text-wrap:wrap;
    width: 50%;
    margin-top: 20px;
}
.heading{
        font-weight: bold;
        color: white;
}

.box-part{
    background-color: black;
    padding: 50px;
}
.contact{
    color:white;
    padding-top: 20px;
    
}