.header{
    display: flex;
    background-color:hotpink;
    height: 50px;
    width: auto;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;

}
.header>div{
    color: brown;
    background-color: aqua;
    height: auto;
    width: 60px;
}
.head{
    margin-top: 350px;
    color: rgb(255, 255, 255);
    font-size: 50px;

}

.box{
    background-color: grey;
    padding: 60px 0px;
}
